# Coverage
coverage==5.3

# Code Style
pycodestyle==2.6.0

# Flake8
entrypoints==0.3
flake8==3.8.4
mccabe==0.6.1
pyflakes==2.2.0

# Dev utils
django-debug-toolbar==3.1.1
django-extensions==3.1.0

-r requirements.txt