<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Olá, você foi convidado para minha festa</title>
    <meta property="og:title" content="Olá, você foi convidado para minha festa - saiba mais: {{ url }}"/>
    <meta property="og:description" content="Descrição - saiba mais: {{ url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Espaço Boo!">
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:image" content="{% static "favicon.png" %}"/>

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="{% static "favicon.png" %}" type="image/png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .container {
            padding: 2px 16px;
        }

        .card-img-caption {
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
            <div class="card" style="max-width: 480px">
                <div class="card-img-caption">
                    <img class="card-img-top" src="{% url 'invite_download_jpg' pk=invite.pk slug=invite.slug %}" alt="Background image" style="width:100%">
                </div>
                <div class="container d-flex justify-content-between">
                    <a class="btn btn-primary my-4" href="{{ request.META.HTTP_REFERER }}" role="button"><i class="fas fa-chevron-circle-left"></i>
                        Voltar
                    </a>
                    <a class="btn btn-success my-4" href="https://api.whatsapp.com/send?text=Gostaria muito da sua presença, aqui está seu convite {{ url }}" role="button"><i class="fab fa-whatsapp"></i>
                        Compartilhar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>