{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%  block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Django Easy Party</h1>
            <p class="lead">Useful tools to help with your party.</p>
            <hr class="my-4">
            <p>Convite virtual, cardápios, lista de convidados e muito mais...</p>
            <a class="btn btn-primary btn-lg" href="https://github.com/tiagocordeiro/django-easy-party"
               role="button" target="_blank">
                <i class="fab fa-github"></i> Github
            </a>
        </div>
    </div>
{% endblock content %}